.white-text {
  color: white;
}

.underline {
  text-decoration:underline;
}

.yellow-text {
  color:yellow;
}

h4{
  margin-top: 20px;
  padding: 20px;
  background-image: linear-gradient(to right,
        #f44336 15%,
        #09792b 40%,
        #00b9ff 65%,
        #ffb800);
}
