<h1>Please register!</h1>

<!-- <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm"> -->
<!-- или через ViewChild -->
<form (ngSubmit)="submitForm()" #myForm="ngForm">
  <div class="form-group">
    <label class="input-group-text" for="email">Email</label>
    <input
      type="email"
      class="form-control mb-2"
      ngModel
      name="email"
      required
      email
    />
    <!-- just write 'email' for validation -->

    <label class="input-group-text" for="password">Password</label>
    <input
      type="password"
      class="form-control mb-2"
      ngModel
      name="password"
      required
    />

    <label class="input-group-text" for="text">Country</label>
    <select class="form-control mb-2" ngModel name="country" required>
      <option selected>Ukraine</option>
      <option>United States</option>
      <option>United Kingdom</option>
      <option>Germany</option>
      <option>Austria</option>
    </select>
    <p>I want to receive news mails.</p>
    <div class="radio" *ngFor="let answer of answers">
      <label>
        <input
          type="radio"
          [value]="answer.type"
          ngModel
          name="answer"
          required
        />
        {{ answer.text }}
      </label>
    </div>
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary mt-3"
        type="submit"
        [disabled]="!myForm.valid"
      >
        Save
      </button>
    </div>
  </div>
</form>
