<h1>Filter Pipe</h1>
<input
  type="text"
  class="form-control"
  placeholder="type car make here"
  [(ngModel)]="searchCar"
/>
<button class="btn btn-primary mt-2" type="button" (click)="addCar()">
  Add car
</button>
<hr />
<ul>
  <li *ngFor="let car of cars | carFilter: searchCar:'name'">
    <b>{{ car.name }} </b> <i>{{ car.model }} </i> {{ car.year }}
  </li>
</ul>
<!-- <h2>{{ asyncTitle | async }}</h2> -->
<!-- <hr />
<input
  type="text"
  class="form-control"
  placeholder="type car model here"
  [(ngModel)]="searchCar"
/>
<hr />
<ul>
  <li *ngFor="let car of cars | carFilter: searchCar:'model'">
    <b>{{ car.name }} </b> <i>{{ car.model }} </i> {{ car.year }}
  </li>
</ul> -->
