<!-- <app-car></app-car> <app-car></app-car> -->
<!-- <div app-car></div> -->
<!-- <button class="btn btn-primary" [disabled]="!canAddCar">Add car</button> -->
<!-- [disabled] - в кв. скобках означаает, что он связан с переменной  -->

<!-- <button class="btn btn-primary" disabled="{{ !canAddCar }}">Add car</button> или так -->
<p>Type car make here</p>
<input type="text" class="form-control mb-3" #carNameInput />
<p>Type car year here</p>
<input type="text" class="form-control mb-3" [(ngModel)]="carYear" />
<hr />
<input type="text" class="form-control mb-3" #carModel />

<button class="btn btn-primary" (click)="addCar(carNameInput)">Add car</button>
<!-- <p>{{ addCarStatus }}</p> -->
<hr />

<!-- <p *ngIf="!addCarStatus">No car was added!</p>
<p *ngIf="addCarStatus">Car was added!</p> -->

<!-- <p *ngIf="!addCarStatus; else successStatus">No car was added!</p>

<ng-template #successStatus>
  <p>Car was added!</p>
</ng-template> -->

<!-- <hr /> -->
<!-- <div class="app-car"></div>
<hr /> -->

<!-- <div class="app-car" *ngFor="let car of cars"></div> -->

<!-- <hr /> -->

<!-- можно перебрать так ... -->
<!-- <ul>
  <li *ngFor="let car of cars; let idx = index">
    <div
      [ngStyle]="{
        'background-color': (idx + 1) % 2 === 0 ? 'blue' : 'yellow',
        color: (idx + 1) % 2 === 0 ? 'white' : ''
      }"
      [ngClass]="{ 'big-text': setBigCarText(car.name) }"
    >
      <b>{{ idx + 1 }} - </b> <i>{{ car.name }}</i> - <b>{{ car.year }}</b>
    </div>
  </li>
</ul> -->

<!-- а можно вот так! -->
<div class="app-car" *ngFor="let car of cars" [carItem]="car"></div>

<!-- <ul>
  <h4>формат по умолчанию</h4>
  <li *ngFor="let date of dates">{{ date | date }}</li>
  <hr />
  <h4>формат short</h4>
  <li *ngFor="let date of dates">{{ date | date: "short" }}</li>
  <hr />
  <h4>формат medium</h4>
  <li *ngFor="let date of dates">{{ date | date: "medium" }}</li>
  <hr />
  <h4>формат long</h4>
  <li *ngFor="let date of dates">{{ date | date: "long" }}</li>
  <hr />
  <h4>формат uppercase</h4>
  <li *ngFor="let date of dates">{{ date | uppercase }}</li>
</ul> -->

<!-- <ul>
  <li *ngFor="let item of items; let idx = index">
    {{ idx + 1 }} <b>{{ item.name }} </b> {{ item.id }}
  </li>
</ul> -->

<!-- <input type="text" class="form-control" (input)="onKeyUp($event)" /> -->

<!-- <input
  type="text"
  class="form-control"
  #myInput
  (input)="onKeyUp(myInput.value)"
/>
<br />
<p>{{ inputText }}</p> -->

<!-- <hr />
<input type="text" class="form-control" (input)="onKeyUp($event)" />
<p>{{ inputText }}</p> -->

<!-- <input type="text" class="form-control" (keyup.enter)="onKeyUp($event)" />
<input type="text" class="form-contcrol" [(ngModel)]="inputText" />
<p>{{ inputText }}</p> -->

<!-- [] - использование данных из шаблона в компонент  one-way binding -->
<!-- () - использование данных из компонента в шаблон one-way binding -->
